* {
  margin: 0;
}
/* Header Section */
nav {
  padding: 70px 120px;
  display: flex;

  justify-content: space-between;
}
nav h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  padding-left: 35px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
nav ul li a {
  text-decoration: none;
}
nav ul img {
  width: 32px;
  height: 32px;
  margin-top: 7px;
}
