* {
  margin: 0;
}
/* Header Section */
nav {
  padding: 70px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger {
  display: none;
}
nav h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  padding-left: 35px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
nav ul li a {
  text-decoration: none;
}
nav ul img {
  width: 32px;
  height: 32px;
  padding-left: 35px;
}
/* Influencer Section */
.influencer-container {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 50px 120px;
}
.influencer-description h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.influencer-description p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.influencer-btn {
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border-radius: 41px;
  border: 0;
  display: flex;
  align-items: center;
}
.influencer-btn p {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin-right: 5px;
  padding: 0px 20px;
  margin-top: 15px;
}
.influencer-img {
  background-image: url("../images/images/Circle\ design.svg");
  background-size: cover;
  width: 475px;
  height: 475px;
}
/* Sponsors Section */
.sponsors-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 165px;
}
.sponsor {
  padding: 30px 0;
}
/* Collection Section */
.collection h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
  text-align: center;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 47px 133px;
}
.product {
  height: 476px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 17px;
}
.product-img {
  width: 300px;
  height: 256px;
}
.product-description h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 6px;
}
.product-description h3 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 10px;
}
.ratings {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rate h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  color: #5e6366;
}

.product-description p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  color: #787885;
  padding-right: 119px;
  margin-top: 10px;
}
.see-more {
  display: flex;
  align-items: center;
  gap: 8px;
  float: right;
  padding: 0 133px;
}
.see-more h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: rgba(224, 44, 109, 0.87);
}
/* Featured Products Section */
.featured-products-container {
  margin: 100px 165px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 96px;
}
.featured-product h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
}
.featured-product p {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: #6c6c6c;
  margin: 16px 0;
}
.featured-btn {
  width: 155px;
  height: 44px;
  background: #e02c6d;
  border: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.featured-btn p {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 0px 13px;
}
/* Footer */
footer {
  background: #0a0826;
}
.footer-container {
  padding: 53px 570px;
  text-align: center;
}
.footer-container h4 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.footer-container p {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  color: #d9dbe1;
  padding: 5px;
  margin-bottom: 10px;
}
.social img {
  margin: 0 12px;
}
